*.suo
*.user
*.userosscache
*.sln.docstates
.vs/*

src/Actio.Api/obj/*
src/Actio.Api/debug/*
src/Actio.Api/bin/*
src/Actio.Api/appsettings.Developmnent.json
src/Actio.Api/appsettings.json
src/Actio.Api/Properties/launchSettings.json

src/Actio.Common/obj/*
src/Actio.Common/debug/*
src/Actio.Common/bin/*

src/Actio.Services.Activities/obj/*
src/Actio.Services.Activities/debug/*
src/Actio.Services.Activities/bin/*
src/Actio.Services.Activities/appsettings.json
src/Actio.Services.Activities/appsettings.Developmnent.json
src/Actio.Services.Activities/Properties/launchSettings.json

src/Actio.Services.Identity/obj/*
src/Actio.Services.Identity/debug/*
src/Actio.Services.Identity/bin/*
src/Actio.Services.Identity/appsettings.json
src/Actio.Services.Identity/appsettings.Developmnent.json
src/Actio.Services.Identity/Properties/launchSettings.json
src/Actio.Api/appsettings.Development.json
src/Actio.Services.Activities/appsettings.Development.json
src/Actio.Services.Identity/appsettings.Development.json
